/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.row {
  display: flex;
  flex-wrap: wrap;
}

.row-reverse {
  flex-direction: row-reverse;
}

.row.hg-8 {
  row-gap: 8px;
}

.row.hg-16 {
  row-gap: 16px;
}

.row.hg-24 {
  row-gap: 24px;
}

.row.hg-32 {
  row-gap: 32px;
}

.row.hg-40 {
  row-gap: 40px;
}

.row.hg-48 {
  row-gap: 48px;
}

.row.vg-8 > [class*='col-'] {
  padding-left: 8px;
  padding-right: 8px;
}

.row.vg-16 > [class*='col-'] {
  padding-left: 16px;
  padding-right: 16px;
}

.row.vg-24 > [class*='col-'] {
  padding-left: 24px;
  padding-right: 24px;
}

.row.vg-32 > [class*='col-'] {
  padding-left: 32px;
  padding-right: 32px;
}

.row.vg-40 > [class*='col-'] {
  padding-left: 40px;
  padding-right: 40px;
}

.row.vg-48 > [class*='col-'] {
  padding-left: 48px;
  padding-right: 48px;
}

.col-1 {
  width: 8.333333333333333%;
}

.col-2 {
  width: 16.66666666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333333333%;
}

.col-5 {
  width: 41.66666666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333333333%;
}

.col-8 {
  width: 66.66666666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333333333333%;
}

.col-11 {
  width: 91.66666666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 36rem) {
  .sm\:row-reverse {
    flex-direction: row-reverse;
  }

  .row.sm\:hg-0 {
    row-gap: 0;
  }

  .row.sm\:hg-8 {
    row-gap: 8px;
  }

  .row.sm\:hg-16 {
    row-gap: 16px;
  }

  .row.sm\:hg-24 {
    row-gap: 24px;
  }

  .row.sm\:hg-32 {
    row-gap: 32px;
  }

  .row.sm\:hg-40 {
    row-gap: 40px;
  }

  .row.sm\:hg-48 {
    row-gap: 48px;
  }

  .row.sm\:vg-0 > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .row.sm\:vg-8 > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }

  .row.sm\:vg-16 > [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }

  .row.sm\:vg-24 > [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }

  .row.sm\:vg-32 > [class*='col-'] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .row.sm\:vg-40 > [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .row.sm\:vg-48 > [class*='col-'] {
    padding-left: 48px;
    padding-right: 48px;
  }

  .sm\:col-1 {
    width: 8.333333333333333%;
  }

  .sm\:col-2 {
    width: 16.66666666666667%;
  }

  .sm\:col-3 {
    width: 25%;
  }

  .sm\:col-4 {
    width: 33.33333333333333%;
  }

  .sm\:col-5 {
    width: 41.66666666666667%;
  }

  .sm\:col-6 {
    width: 50%;
  }

  .sm\:col-7 {
    width: 58.33333333333333%;
  }

  .sm\:col-8 {
    width: 66.66666666666667%;
  }

  .sm\:col-9 {
    width: 75%;
  }

  .sm\:col-10 {
    width: 83.33333333333333%;
  }

  .sm\:col-11 {
    width: 91.66666666666667%;
  }

  .sm\:col-12 {
    width: 100%;
  }
}

@media screen and (min-width: 48rem) {
  .md\:row-reverse {
    flex-direction: row-reverse;
  }

  .row.md\:hg-0 {
    row-gap: 0;
  }

  .row.md\:hg-8 {
    row-gap: 8px;
  }

  .row.md\:hg-16 {
    row-gap: 16px;
  }

  .row.md\:hg-24 {
    row-gap: 24px;
  }

  .row.md\:hg-32 {
    row-gap: 32px;
  }

  .row.md\:hg-40 {
    row-gap: 40px;
  }

  .row.md\:hg-48 {
    row-gap: 48px;
  }

  .row.md\:vg-0 > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .row.md\:vg-8 > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }

  .row.md\:vg-16 > [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }

  .row.md\:vg-24 > [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }

  .row.md\:vg-32 > [class*='col-'] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .row.md\:vg-40 > [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .row.md\:vg-48 > [class*='col-'] {
    padding-left: 48px;
    padding-right: 48px;
  }

  .md\:col-1 {
    width: 8.333333333333333%;
  }

  .md\:col-2 {
    width: 16.66666666666667%;
  }

  .md\:col-3 {
    width: 25%;
  }

  .md\:col-4 {
    width: 33.33333333333333%;
  }

  .md\:col-5 {
    width: 41.66666666666667%;
  }

  .md\:col-6 {
    width: 50%;
  }

  .md\:col-7 {
    width: 58.33333333333333%;
  }

  .md\:col-8 {
    width: 66.66666666666667%;
  }

  .md\:col-9 {
    width: 75%;
  }

  .md\:col-10 {
    width: 83.33333333333333%;
  }

  .md\:col-11 {
    width: 91.66666666666667%;
  }

  .md\:col-12 {
    width: 100%;
  }
}

@media screen and (min-width: 62rem) {
  .lg\:row-reverse {
    flex-direction: row-reverse;
  }

  .row.lg\:hg-0 {
    row-gap: 0;
  }

  .row.lg\:hg-8 {
    row-gap: 8px;
  }

  .row.lg\:hg-16 {
    row-gap: 16px;
  }

  .row.lg\:hg-24 {
    row-gap: 24px;
  }

  .row.lg\:hg-32 {
    row-gap: 32px;
  }

  .row.lg\:hg-40 {
    row-gap: 40px;
  }

  .row.lg\:hg-48 {
    row-gap: 48px;
  }

  .row.lg\:vg-0 > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .row.lg\:vg-8 > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }

  .row.lg\:vg-16 > [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }

  .row.lg\:vg-24 > [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }

  .row.lg\:vg-32 > [class*='col-'] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .row.lg\:vg-40 > [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .row.lg\:vg-48 > [class*='col-'] {
    padding-left: 48px;
    padding-right: 48px;
  }

  .lg\:col-1 {
    width: 8.333333333333333%;
  }

  .lg\:col-2 {
    width: 16.66666666666667%;
  }

  .lg\:col-3 {
    width: 25%;
  }

  .lg\:col-4 {
    width: 33.33333333333333%;
  }

  .lg\:col-5 {
    width: 41.66666666666667%;
  }

  .lg\:col-6 {
    width: 50%;
  }

  .lg\:col-7 {
    width: 58.33333333333333%;
  }

  .lg\:col-8 {
    width: 66.66666666666667%;
  }

  .lg\:col-9 {
    width: 75%;
  }

  .lg\:col-10 {
    width: 83.33333333333333%;
  }

  .lg\:col-11 {
    width: 91.66666666666667%;
  }

  .lg\:col-12 {
    width: 100%;
  }
}

@media screen and (min-width: 75rem) {
  .xl\:row-reverse {
    flex-direction: row-reverse;
  }

  .row.xl\:hg-0 {
    row-gap: 0;
  }

  .row.xl\:hg-8 {
    row-gap: 8px;
  }

  .row.xl\:hg-16 {
    row-gap: 16px;
  }

  .row.xl\:hg-24 {
    row-gap: 24px;
  }

  .row.xl\:hg-32 {
    row-gap: 32px;
  }

  .row.xl\:hg-40 {
    row-gap: 40px;
  }

  .row.xl\:hg-48 {
    row-gap: 48px;
  }

  .row.xl\:vg-0 > [class*='col-'] {
    padding-left: 0;
    padding-right: 0;
  }

  .row.xl\:vg-8 > [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }

  .row.xl\:vg-16 > [class*='col-'] {
    padding-left: 16px;
    padding-right: 16px;
  }

  .row.xl\:vg-24 > [class*='col-'] {
    padding-left: 24px;
    padding-right: 24px;
  }

  .row.xl\:vg-32 > [class*='col-'] {
    padding-left: 32px;
    padding-right: 32px;
  }

  .row.xl\:vg-40 > [class*='col-'] {
    padding-left: 40px;
    padding-right: 40px;
  }

  .row.xl\:vg-48 > [class*='col-'] {
    padding-left: 48px;
    padding-right: 48px;
  }

  .xl\:col-1 {
    width: 8.333333333333333%;
  }

  .xl\:col-2 {
    width: 16.66666666666667%;
  }

  .xl\:col-3 {
    width: 25%;
  }

  .xl\:col-4 {
    width: 33.33333333333333%;
  }

  .xl\:col-5 {
    width: 41.66666666666667%;
  }

  .xl\:col-6 {
    width: 50%;
  }

  .xl\:col-7 {
    width: 58.33333333333333%;
  }

  .xl\:col-8 {
    width: 66.66666666666667%;
  }

  .xl\:col-9 {
    width: 75%;
  }

  .xl\:col-10 {
    width: 83.33333333333333%;
  }

  .xl\:col-11 {
    width: 91.66666666666667%;
  }

  .xl\:col-12 {
    width: 100%;
  }
}
